<%- include("partials/header.ejs") -%>

<div class="main">
  <div class="box"></div>

  <div class="addheadermain">
    <div class="text"><p id="logo">Book Notes</p></div>
        <div class="account-btn">
        <a href="/register" id="small-screen-btn">Account</a>
        <a href="/Login" class="bt-large">Login</a>
        <a href="/register" class="bt-large">Sign In</a>
        <a href="/logout">Log Out</a>
      </div>
    </div>

  <!-- Black Cover for image -->
  <div class="hero-section">
    <span class="heading-1">Welcome to your Book Notes</span>
    <span class="subheading">
      <p>
        We know it's difficult to remember everything you read, so we made
        this.<br />
        Here yo can write and find your learnings from the books you have read.
      </p>
    </span>

    <div class="hbt">
      <form action="/add" method="get">
        <button type="submit" id="btn-add">
          Add a Book
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-plus-circle circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
            />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </button>
      </form>

      <!-- a tag href used for going to section by assigning the id of section and using that id with # to link it.-->
      <a href="#books-section" class="null">
        <button id="btn-mb">
          My Books
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-arrow-down-circle arrow"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>

<section id="books-section">
  <div class="sec-btn">
    <div class="container">
      <h3>Books You Have Read</h3>
    </div>

    <div class="drop-btn">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="dropbtn"
            viewBox="0 0 16 16"
          >
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
            />
            <path
              d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>

        <div id="myDropdown" class="dropdown-content">
          <a href="/?sort=recent#books-section" id="recent">Recently Added</a>
          <a href="/?sort=name#books-section" id="name"> A - Z</a>
        </div>
      </div>
    </div>
  </div>

  <% data.forEach(book => { %>
  <div class="div_class">
    <a href="/bookdetail/<%= book.id %>">
      <img
        src="https://covers.openlibrary.org/b/id/<%= book.coverid %>-L.jpg"
        class="img"
      />
    </a>
  </div>
  <% }); %>
</section>

<!-- JS for dropdown-->
<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };


  document.addEventListener("DOMContentLoaded", function () {
  const menuBtn = document.getElementById("menuBtn");
  const dropdownMenu = document.getElementById("dropdownMenu");

  menuBtn.addEventListener("click", function () {
    dropdownMenu.classList.toggle("show");
  });
});

</script>

<%- include("partials/footer.ejs") -%>
